.footer {
	position: relative;
	background-color: var(--gray-50);
	display: grid;
	place-items: center;
	padding: rem(60px) rem(19px);

	&__content {
		width: 100%;
		max-width: rem(972px);
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__contact {
			p {
				color: var(--gray-800);
				font-size: rem(15px);
				line-height: rem(17.78px);
				margin-top: rem(23px);
				height: rem(77px);
			}

			.social-links {
				display: flex;
				gap: rem(20px);
				margin-top: rem(10px);

				a {
					background-color: var(--purple-50);
					border-radius: 50%;
					padding: rem(6.5px);
					display: grid;
					place-items: center;

					svg {
						$icon-size: rem(24px);
						width: $icon-size;
						height: $icon-size;
						color: var(--purple-700);
					}
				}
			}

			&--desktop {
				max-width: rem(337px);
				@include mobile-hidden;
			}

			&--mobile {
				max-width: rem(484px);
				display: flex;
				flex-direction: column;
				align-items: center;

				@include desktop-hidden;
				@include respond-to('mobile') {
					p {
						text-align: center;
					}
				}
			}
		}

		&__navigation {
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: rem(484px);

			div {
				display: flex;
				flex-direction: column;
				gap: rem(20px);

				h4 {
					color: var(--gray-1000);
					font-size: rem(16px);
					line-height: rem(18.96px);

					@include respond-to('mobile') {
						font-size: rem(13.4px);
						line-height: rem(15.88px);
					}
				}

				ul {
					list-style-type: none;
					display: flex;
					flex-direction: column;
					gap: rem(18px);

					li {
						color: var(--gray-700);
						font-size: rem(15px);
						line-height: rem(17.78px);

						@include respond-to('mobile') {
							font-size: rem(12.56px);
							line-height: rem(14.89px);
						}
					}
				}
			}

			@include respond-to('mobile') {
			}
		}

		@include respond-to('mobile') {
			flex-direction: column;
			gap: rem(51px);
		}
	}

	@include respond-to('mobile') {
		padding-block: rem(32.93px);
	}
}
